<!DOCTYPE html>
<html>
  <head>
  	<title>Are you Kanye or Jay Z?
  	</title>
  	<link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
 <body>
 	<%= yield %>
 	<body background="images/kanye_jayz2.jpg">
 </body>
</html>  