<h1>Are you Jay Z or Kanye?</h1>
	<form action="/quiz" method="POST">
	<br>
	<label for="POST-question">Which would describe you best?</label>
	<br>
	<input type="radio" id="jayz1" name="question[0]" value="jayz">Do you believe that men lie, women lie, and numbers don't?</input>
	<input type="radio" id="kanye1" name="question[0]" value="kanye">DO YOU HAVE ALL THE ANSWERS???</input>
	<br>
	<label for="POST-question">Have you done either one of these?</label>
	<br>
	<input type="radio" id="jayz2" name="question[1]" value="jayz">Brushed dirt off your shoulder?</input>
	<input type="radio" id="kanye2" name="question[1]" value="kanye">Worn leather jogging pants?</input>
	<br>
	<label for="POST-question">In which one of these places would you prefer to live?</label>
	<br>
	<input type="radio" id="jayz3" name="question[2]" value="jayz">Brooklyn</input>
	<input type="radio" id="kanye3" name="question[2]" value="kanye">Chicago</input>
	<br>
	
	  <button type="submit" value="Submit">Submit</button>
	</form>  



	


 	